html {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #FFF5FF; 
}

main {
	max-width: 1000px;
	position: relative;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#first {
	position: relative;
}

header {
	visibility: hidden;
}

h3 {
	margin: 0px 0px 10px 0px;
}


#top-bar-picture {
	position: absolute;
	top: 20px;
	height: 100%;
	right: 10px;
}

.inline {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

/* Big screens */
@media only screen and (min-width: 720px) {
	article {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px;
	}

	section {
		background-color: white;
		padding: 20px;
		margin: 25px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.inline-on-big {
		display: inline-block;
		vertical-align: top;
	}
}

#jobtitle {
	display: inline;
}


/* Big screens */
@media only screen and (min-width: 720px) {
	article {

	}

}


/* Small screens */
@media only screen and (max-width: 720px) {

	section{
		background-color: white;
		padding: 20px;
		margin: 25px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

section:first-of-type {
	background-color: black;
	color: white;
}


img{
	margin:0px;
	padding:0px;
	width: auto;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figure {
	margin: 0px;
}

h1 {
	font-size: x-large;
	margin: 0px;
}

h2 {	
	font-size: large;
	margin: 0px;
}

h4 {
	margin: 0px;
}

ul {
	margin: 1em;
}

a {
	background-color: black;
	color: white;
	width: auto;
	display: inline-block;
}
